@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

:root {
  /* Colors */
  --primary-color: #dadbf1;
  --secondary-color: #4c5fd5;
  --text-color: #000000;
  --button-color: #fff;

  /* Transition Speed */
  --fast: all 0.1;
  --normal: all 0.3;
  --slow: all 0.6;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-color);
  padding: 0.5rem 7rem;
}

.header-left {
  display: flex;
  align-items: center;
  color: var(--button-color);
  gap: 0.5rem;
}

.header-left a {
  display: flex;
  align-items: center;
  color: var(--button-color);
  transition: all var(--slow);
}

.header-left a i {
  font-size: 3rem;
}

.logo-text {
  font-size: 1.7rem;
}

.header-left span {
  font-size: 3rem;
  transition: all var(--slow);
}

.header-left .help {
  font-size: 1.7rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.submit {
  height: 3rem;
  padding-inline: 3rem;
  border: 1px solid var(--button-color);
  background-color: var(--text-color);
  color: var(--button-color);
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
}

.sign-in {
  height: 3rem;
  padding-inline: 2rem;
  background-color: var(--secondary-color);
  color: var(--button-color);
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all var(--fast);
}

.header-search {
  width: 250px;
  height: 3rem;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 0.8rem;
}

main section {
  background-color: var(--primary-color);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .question {
  font-size: 5rem;
}

.section-search {
  border-radius: 6px;
  height: 4rem;
  width: 45%;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 1rem;
  border: 1px solid var(--text-color);
}

.content {
  height: 100vh;
  background-color: var(--button-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10rem;
  padding-left: 5rem;
}
.item {
  display: flex;
  min-height: 115px;
  width: 80%;
  justify-self: center;
  align-self: start;
  gap: 1rem;
}

.item-text {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.item .icon i {
  font-size: 5.5rem;
  color: var(--secondary-color);
}

.item-text i,
.item-text p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.item-text a {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.item-text h4 {
  font-size: 1.7rem;
}

footer {
  background-color: var(--text-color);
  height: 450px;
  padding: 3rem 7rem;
}

footer nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

ul h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

ul a,
ul h4 {
  color: var(--button-color);
  transition: all var(--fast);
}

.double,
.copyright {
  color: var(--button-color);
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-row: 1/-1;
  grid-column: 5/-1;
}

.copyright i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.copyright span {
  font-size: 1.2rem;
}

.double .nav-items {
  margin-bottom: 1rem;
}

/* Hover animations */

.submit:hover {
  color: var(--text-color);
  background-color: var(--button-color);
}

.header-left a:first-child:hover {
  opacity: 0.7;
}

.header-left span:hover {
  text-decoration: underline;
}

.sign-in:hover {
  background-color: var(--button-color);
  color: var(--text-color);
}

.section-search:hover {
  border: 1px solid var(--secondary-color);
}

ul a:hover {
  text-decoration: underline;
}

.item-text a:hover span {
  text-decoration: underline;
}
