@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

:root {
  /* Colors */
  --primary-color: #dadbf1;
  --secondary-color: #4c5fd5;
  --text-color: #000000;
  --button-color: #fff;

  /* Transition Speed */
  --fast: all 0.1;
  --normal: all 0.3;
  --slow: all 0.6;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-color);
  padding: 1rem 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

.header-left,
.logo {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 3rem;
}

.logo-text {
  font-size: 1.7rem;
}

.header-left span {
  font-size: 3rem;
}

.header-left .help {
  font-size: 1.7rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.submit {
  height: 3rem;
  padding-inline: 3rem;
  border: 1px solid var(--button-color);
  background-color: var(--text-color);
  color: var(--button-color);
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
}

.sign-in {
  height: 3rem;
  padding-inline: 2rem;
  background-color: var(--secondary-color);
  color: var(--button-color);
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
}

.header-search {
  width: 250px;
  height: 3rem;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 0.8rem;
}
